@model BlogTest.Models.Post



<div class="container">

    <ol class="breadcrumb pull-right">
        <li>
            @Html.ActionLink("Blog", "Index")
        </li>
        <li class="active">Detail</li>
    </ol>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <h2 class="page-header no-margin-top">
                    <b>@Html.DisplayFor(model => model.Title)</b>
                </h2>


                @if (Model.MediaUrl != null)
                {
                    <center><img src="@Url.Content(Model.MediaUrl)" class="img-thumbnail" alt="Cinque Terre" width="500" height="500" /></center>
                }

                <p>@Html.Raw(Model.BodyText)</p>

            </section>
            <section>
                <div class="panel panel-warning-dark">
                    <div class="panel-body">
                        <a href="https://www.facebook.com/acer.yang.9" class="social-icon-ar sm no-margin-bottom facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/a-yang-4b547a77" class="social-icon-ar sm no-margin-bottom linkedin"><i class="fa fa-linkedin"></i></a>

                    </div>
                </div>
            </section>

       
            <h2 class="page-header no-margin-top">Comment @Html.DisplayFor(model => model.Comments)</h2>

            @foreach (var comment in Model.Comments)
            {

                <div class="form-group">
               
                   
                


            </div>
            }
            <br />

            


        </div> <!--end col-md-12-->
    </div><!--end row-->
</div><!--end container-->
