
@model PagedList.IPagedList<BlogTest.Models.Post>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";

}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center>
                <img src="~/assets/img/blog.png" class="thumbnail" alt="" width="500" height="200" />
            </center>
        </div>

    </div>
</div>


@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
            <div class="col-md-9">
                <ol class="breadcrumb pull-right">
                    <li class="active">
                        Blog
                    </li>
                </ol>

            </div>
        </div>
    </div>
}


<div class="container">

    <div class="row">
        <div class="col-md-9">

            <article class="post animated fadeInDown animation-delay-6">
           
                @foreach (var post in Model)
                {

                    
                    
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h1 class="post-title-size">@post.Title</h1>
                            <div class="row">
                                <div class="col-md-6">

                                    @if (post.MediaUrl != null)
                                    {
                                        <img src="@Url.Content(post.MediaUrl)" class="img-thumbnail" alt="Cinque Terre" width="500" height="300" />
                                    }
                                </div>
                                <div class="col-xs-12 col-md-6">

                                    @Html.Raw(post.BodyTextTrimmed)

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-4">
                                    <i class="fa fa-clock-o"> @post.CreationDate</i>


                                    <i class="fa fa-user"> </i>A Yang
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <a href="#" class="pull-right">@Html.ActionLink("Read more", "Details", new { @post.Id }) &raquo;</a>
                                </div>
                                <div class="col-lg-6 col-md-3 col-sm-4">
                                    @if (post.UpdateDate != null)
                                    {
                                        <i>Update: @post.UpdateDate</i>
                                    }
                                </div>
                                <div class="col-md-2 pull-right">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <p>
                                            @Html.ActionLink("Delete Post", "Delete", new { @post.Id }) &raquo;
                                        </p>
                                    }
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2 pull-right">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <p>
                                            @Html.ActionLink("Edit", "Edit", new { @post.Id }) &raquo;
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </article> <!-- post -->

        </div><!--close col-md-9-->
        <div class="col-md-3">
            <aside class="sidebar">
               @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
               {
                
                     @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search Blog", Style = "background: white; border: 1px solid blue; border-radius: 5px; box-shadow: 0 0 5px 3px blue; color: #666; outline: none;" })
                  
                    <input type="submit" value="Search" />
                
               }

            <br />
                <div class="block animated fadeInDown animation-delay-10">
                    <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">

                        <li class="active">
                            <a href="#categories" data-toggle="tab"><i class="fa fa-sort-amount-asc"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="categories">
                            <h3 class="post-title no-margin-top">Sorting</h3>
                            <ul class="simple">

                                <li>
                                    @Html.ActionLink("All Blog", "Index")
                                </li>
                                <li>
                                    @Html.ActionLink("Ascending Order", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                    <ul>
                                        <li>
                                           @Html.ActionLink("Descending Order", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                        </li>
                                       
                            </ul>
                                    </ul>
                        </div>


                    </div> <!-- tab-content -->
                </div>
            


                </aside> <!-- Sidebar -->
            </div>
              


            </div><!--end row-->

            <div class="container">
                @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

        </div><!--end container-->




@*<script>
    if(@ViewBag.searchString != null){
        var word = @ViewBag.searchString;
        $
    }

</script>*@