@model IEnumerable<BlogTest.Models.Post>

@{
    ViewBag.Title = "Index";

}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header no-margin-top">
                BLOG
            </h1>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        </div>
    </div>
}


<div class="container">
@foreach (var post in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <article class="post animated fadeInDown animation-delay-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h3 class="post-title">@post.Title</h3>
                        <div class="row">
                            <div class="col-md-6">

                                @if (post.MediaUrl != null)
                                {
                                   <img src="@Url.Content(post.MediaUrl)" class="img-thumbnail" alt="Cinque Terre" width="500" height="300" />
                                }
                            </div>
                            <div class="col-md-6">
                                @Html.Raw(post.BodyTextTrimmed)
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-4">
                                <i class="fa fa-clock-o"></i> @post.CreationDate
                                <i class="fa fa-user"> </i> <a href="#">A Yang</a> 
                                <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">@Html.ActionLink("Read more", "Details", new { @post.Id }) &raquo;</a>
                            </div>
                            <div class="col-lg-2">
                                @if (User.IsInRole("Admin"))
                                {
                                    <p>
                                        @Html.ActionLink("Delete Post", "Delete", new { @post.Id })
                                    </p>
                                }
                            </div>
                            <div class="col-lg-2">
                                @if (User.IsInRole("Admin"))
                                {
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", new { @post.Id })
                                    </p>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
            </article> <!-- post -->

            </div><!--close col-xs-12-->
        </div><!--end row-->
}
    </div><!--end container-->



