@model IEnumerable<BlogTest.Models.Post>

@{
    ViewBag.Title = "Index";

}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header no-margin-top">
                BLOG
            </h1>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        </div>
    </div>
}

<div class="container">
    @foreach (var post in Model)
    {


        <div class="row">
            <div class="col-xs-12">
                <article class="post animated fadeInDown animation-delay-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="post-title">
                                <a href="Posts/Details.cshtml"  class="transicion">@post.Title</a>
                            </h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../assets/img/demo/img_full.jpg" class="img-responsive imageborder" alt="Image">
                                </div>
                                <div class="col-md-6">
                                    <p>@post.BodyText</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <i class="fa fa-clock-o"></i>@post.CreationDate
                                    <i class="fa fa-user"> </i> A Yang
                                    <i class="fa fa-folder-open"></i>.
                                </div>
                                <div class="col-lg-2">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <p>
                                            @Html.ActionLink("Delete Post", "Delete", new { @post.Id})
                                        </p>
                                    }
                                </div>
                                <div class="col-lg-2">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <p>
                                            @Html.ActionLink("Edit", "Edit", new { @post.Id })
                                        </p>
                                    }
                                </div>
                                <div class="col-lg-2">
                                    <p>@Html.ActionLink("Read more", "Details", new { @post.Id})</p>
                                </div>
                        </div>
                    </div>
                        </div>
                </article> <!-- post -->



            </div> <!-- col-sx-8 -->

        </div> <!-- row -->
    }


</div> <!-- container  -->
